h1
{
	color: red;
}

body	

{
	background: black;
}


p

{
	color: white;
}

h2

{
	color: white;
}

ul
{
	color: white;
}


#carte

{

 width: 800px;

margin:0 auto;

background-color: grey;

text-align: center;

align-content: center;


}

ul li
{
	list-style-type: none;
}
